body {
    background-color: white;
}

h1 {
    color: black;
    text-align: center;
}

img.focaccia {
    width: 500 px;
    border-radius: 50 px;
    float: center;
    margin-right: 40 px;
}

em {
    color: red
}

h2 {
    color: black;
    text-align: center;
}